.container {
  margin: auto;
  width: 50%;
}
.bg-body {
  max-width: 600px;
  border-radius: 15px !important;
  background-color: rgb(243, 198, 198) !important;
  padding: 30px !important;
}
.bg-body-edit {
  max-width: 600px;
  border-radius: 15px !important;
  background-color: rgb(29, 90, 90) !important;
  color: white !important;
  padding: 30px !important;
}
