<div class="container">
  <form
  ngClass="{{mode=='add'? 'bg-body': 'bg-body-edit'}}"
    class="shadow-lg p-3 mb-5 bg-body rounded"
    name="form"
    #userForm="ngForm"
    (ngSubmit)="onSubmit(userForm)"
    novalidate
  >
  <!--    (ngSubmit)="userForm.form.valid && onSubmit(userForm)" -->
  <!-- Form Title -->

    <div class="text-center">
      <h2>{{ mode == "add" ? "Add" : "Edit" }} User <i class="bi  {{ mode == 'add' ? 'bi-person-plus-fill' : 'bi-pencil-square' }}"></i></h2>
    </div>
    <br>

    <!-- Success Message  -->

    <div class="text-center">
      <p class="alert alert-primary" *ngIf="submitted">{{userName | titlecase}} {{mode == 'add' ? "Added" : "Updated"}} Successfully!!! <i class="bi bi-check2-circle"></i></p>
    </div>

    <!-- Form -->

    <div class="mb-3">
      <input type="hidden" [(ngModel)]="form.id" id="id" name="id" />
    </div>

    <div class="mb-3">
      <label for="first" class="form-label">First Name*</label>
     
      <input
        type="text"
        class="form-control"
        id="first"
        #fname="ngModel"
        placeholder="Enter First Name"
        name="fname"
        [(ngModel)]="form.fname"
        NameMinLengthValidator
        NameMaxLengthValidator
        RequiredValidator
      />
      <div
        *ngIf="userForm.submitted && fname.errors "
        class="text-danger"
      >
        <div *ngIf="fname.errors['requiredField']">First Name is required*</div>
        <div *ngIf="fname.errors['minlengthvalidation']">
          First Name must be at least 3 characters*
        </div>
        <div *ngIf="fname.errors['maxlengthvalidation']">
          First Name must be at most 10 characters*
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="last" class="form-label">Last Name*</label>
      <input
        type="text"
        class="form-control"
        id="last"
        #lname="ngModel"
        placeholder="Enter Last Name"
        [(ngModel)]="form.lname"
        name="lname"
        NameMinLengthValidator
        NameMaxLengthValidator
        RequiredValidator
      />

      <div
        *ngIf="userForm.submitted && lname.errors"
        class="text-danger"
      >
        <div *ngIf="lname.errors['requiredField']">Last Name is required*</div>
        <div *ngIf="lname.errors['minlengthvalidation']">
          Last Name must be at least 3 characters*
        </div>
        <div *ngIf="lname.errors['maxlengthvalidation']">
          Last Name must be at most 10 characters*
        </div>
      </div>
    </div>
     
    
    <div class="mb-3">
      <!-- pass Input parameter to email directive (EmailValidator) to disabled validation  [emailnotvalid]="email1"-->
      <!-- <label>Email*</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="form.email"
        #email="ngModel"
        placeholder="Enter Email"
        EmailValidator
        [emailnotvalid]="email1"
        RequiredValidator
        /> -->
      <label>Email*</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="form.email"
        #email="ngModel"
        placeholder="Enter Email"
        EmailValidator
        RequiredValidator
        />
        <div
        *ngIf="userForm.submitted && email.errors"
        class="text-danger"
      >
        <div *ngIf="email.errors['requiredField']">Email is required*</div>
        <div *ngIf="email.errors['emailValidation']">Email pattern is Invalid*</div>
      </div>
    </div>

    <div class="mb-3">
      <label>Phone Number*</label>
      <input
        type="phone"
        class="form-control"
        name="phone"
        [(ngModel)]="form.phone"
        #phone="ngModel"
        placeholder="Enter Phone Number"
        PhoneValidator
        RequiredValidator
        />
        <div
        *ngIf="userForm.submitted && phone.errors"
        class="text-danger"
      >
        <div *ngIf="phone.errors['requiredField']">Phone Number is required*</div>
        <div *ngIf="phone.errors['phoneValidation']">Please Enter Valid Phone Number (10 Digit Only)*</div>
      </div>
    </div>
    

    <div class="mb-3">
      <label>Annual Salary (CTC In LPA)*</label>
      <input
        type="text"
        class="form-control"
        name="salary"
        [(ngModel)]="form.salary"
        #salary="ngModel"
        placeholder="Enter Salary In LPA"
        SalaryValidator
        RequiredValidator
        />
        <div
        *ngIf="userForm.submitted && salary.errors"
        class="text-danger"
      >
        <div *ngIf="salary.errors['requiredField']">Salary is required*</div>
        <div *ngIf="salary.errors['salaryValidation']">Please Enter Valid Salary*</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="designation" class="form-label">Designation*</label>

      <select
        class="form-control"
        (change)="onChangeDesignation($event)"
        [(ngModel)]="form.designation"
        #desig="ngModel"
        name="designation"
        RequiredValidator
      >
        <option selected  disabled value="undefined" >--Select Designation--</option>
        <option
          *ngFor="let des of designation; let i = index"
          value="{{ des }}"
        >
          {{ des }}
        </option>
      </select>
      <div
        *ngIf="userForm.submitted && desig.errors"
        class="text-danger"
      >
        <div *ngIf="desig.errors['requiredField']">Designation is required*</div>
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-md-4">
        <label>Select Country*</label>
        <select
          class="form-control"
          (change)="onChangeCountry($event)"
          [(ngModel)]="form.country"
          name="country"
          #country="ngModel"
          RequiredValidator
        >
          <option selected value="undefined">--Select Country--</option>
          <option
            *ngFor="let country of countries; let i = index"
            value="{{ i }}"
          >
            {{ country.CountryName }}
          </option>
        </select>
        <div
          *ngIf="userForm.submitted && country.errors"
          class="text-danger"
        >
          <div *ngIf="country.errors['requiredField']">Country is required*</div>
        </div>
      </div>
      <div class="mb-3 col-md-4">
        <label>Select State*</label>
        <select
          class="form-control"
          (change)="onChangeState($event)"
          [(ngModel)]="form.state"
          name="state"
          #state="ngModel"
          RequiredValidator
        >
          <option selected value="undefined">--Select State--</option>
          <option
            *ngFor="let state of stateInfo; let j = index"
            value="{{ j }}"
          >
            {{ state.StateName }}
          </option>
        </select>
        <div
          *ngIf="userForm.submitted && state.errors"
          class="text-danger"
        >
          <div *ngIf="state.errors['requiredField']">State is required*</div>
        </div>
      </div>
      <div class="mb-3 col-md-4">
        <label>Select City*</label>
        <select
          class="form-control"
          (change)="onChangeCity($event)"
          [(ngModel)]="form.city"
          name="city"
          #city="ngModel"
          RequiredValidator
        >
          <option selected value="undefined">--Select City--</option>
          <option *ngFor="let city of cityInfo; let k = index" value="{{ k }}">
            {{ city }}
          </option>
        </select>
        <div
          *ngIf="userForm.submitted && city.errors"
          class="text-danger"
        >
          <div *ngIf="city.errors['requiredField']">City is required*</div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <!-- <button
        type="submit"
        class="btn btn-{{mode == 'add' ? 'primary':'secondary'}}"
        [disabled]="!userForm.form.valid"
      >
        {{ mode == "add" ? "Add" : "Edit" }} User

      </button> -->
      <button
        type="submit"
        class="btn btn-{{mode == 'add' ? 'primary':'secondary'}}"
      
      >
        {{ mode == "add" ? "Add" : "Edit" }} User

      </button>
    </div>
  </form>
</div>
<!-- 
<pre>{{ userForm.value | json }}</pre>
<pre>{{ userForm.submitted | json }}</pre> -->
<!-- <pre>
  {{countries | json}}
</pre> -->